@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
li{
    list-style: none;
    padding: 0.2rem 0.6rem;
}
h2{
    font-size: 3rem;
}
h1{
    font-size: 5rem;
}
.btn-a{
    position: relative;
    cursor: pointer;
    margin-top: 2rem;
    padding: 0.6rem 2.5rem;
    background-color: rgb(68, 181, 7);
    color: white;
    border-radius: 22px;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    /* height: 100vh; */
    max-width: 1400px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    overflow-x: hidden;
    /* border: 2px dotted cyan; */
}






#navbar{
    display: flex;
    position: fixed;
    top: 0%;
    z-index: 1000;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1400px;
    height: 50px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* background-color: rgba(0, 0, 0, 0.307); */
    /* background-color: rgba(68, 181, 7, 0.764); */
    background-color: rgba(22, 127, 225, 0.633);
    backdrop-filter: blur(3px);

}
.nav-logo{
    width: 3rem;
    height: 3rem;
}
.nav-logo img{
    width: 50px;
    height: 40px;
}
.nav-item{
    display: flex;
}
.nav-item ul{
    display: flex;
}
.nav-item ul li{
    /* border: 2px solid green; */
    margin: 0 2rem;
}
.nav-item ul li a{
    /* border: 2px solid red; */
    padding: 0.2rem 0.5rem;
    color: white;
}
.nav-item ul li a:hover{
    color: black;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ HOME SECTION +++++++++++++++++++++++++++++++++++++++++ */
.home-section{
    position: relative;
    /* top: 0%; */
    /* left: 0%; */
    height: 100vh;
    width: 100%;
    max-width: 1400px;
    background: url("home-bg.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-section h2,.home-section h1{
    position: relative;
    color: white;
    text-shadow: 4px 1px 10px black;
}
.home-section p{
    max-width: 500px;
    text-align: center;
    color: white;
    margin-top: 1rem;
    text-shadow: 4px 1px 10px black;
    position: relative;
}
.home-section::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.163);
}
.home-section .btn-a{
    position: relative;
    cursor: pointer;
    margin-top: 2rem;
    padding: 0.6rem 2.5rem;
    background-color: rgb(68, 181, 7);
    color: white;
    border-radius: 22px;
}
.home-section .btn-a:hover{
    transition: 0.4s linear;
    background-color: rgba(22, 127, 225);
}




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ PRODUCT SECTION +++++++++++++++++++++++++++++++++++++++++ */

.product-section{
    /* position: relative; */
    /* top: 100vh; */
    padding-top: 2rem;
    width: 100%;
    /* height: 100%; */
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    /* background-color: rgba(82, 82, 82, 0.192); */
}
.product-heading{
    width: 100%;
    max-width: 1400px;
}
.product-heading h2{
    padding: 2rem 4rem;
    padding-bottom: 0.4rem;
    color:rgb(22, 127, 225);
}
.product-heading hr{
    width: 60%;
    margin-left: 4rem;
    height: 0.4rem;
    background-color: rgb(68, 181, 7);
    border-radius: 20px;
}
.product-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 15rem;
}
.card{
    position: absolute;
    width: 300px;
    height: 400px;
    /* border: 2px solid black; */
    border-radius: 12px;
    /* margin-top: 32rem; */
    box-shadow: 3px 2px 5px black;
}
#card1{
    transform: translateX(0);
    z-index: 100;
    /* background-color: green; */
    background: url("testtube.jpg");
    background-position: center;
    background-size: cover;
    opacity: 1;
}
#card1::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.163);
    border-radius: 12px;

}
#card2{
    transform: translateX(-180px) scale(0.9);
    background-color: rgb(0, 128, 128);
    background: url("stathescope.jpg");
    background-position: center;
    background-size: cover;
    z-index: 80;
    opacity: 0.9;
}
#card2::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.163);
    border-radius: 12px;

}
#card3{
    transform: translateX(-280px) scale(0.8);
    background-color: rgb(0, 19, 128);
    background: url("gloves.jpg");
    background-position: center;
    background-size: cover;
    z-index: 60;
    opacity: 0.7;
}
#card3::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.163);
    border-radius: 12px;

}
#card4{
    transform: translateX(180px) scale(0.9);
    background-color: rgb(0, 128, 128);
    background: url("sanitizer.jpg");
    background-position: center;
    background-size: cover;
    z-index: 80;
    opacity: 0.9;
}
#card4::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.163);
    border-radius: 12px;

}
#card5{
    transform: translateX(280px) scale(0.8);
    background-color: rgb(0, 19, 128);
    background: url("stathescope.jpg");
    background-position: center;
    background-size: cover;
    z-index: 60;
    opacity: 0.7;
}
#card5::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.163);
    border-radius: 12px;

}
.card-circle{
    position: absolute;
    top: 72rem;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    gap: 0.6rem;

}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
}
#circle1{
    background-color: rgb(17, 78, 190);
}


.view-more-btn{
    position: absolute;
    top:74rem;
    margin: 2rem 0;
}

.product-item{
    width: 95%;
    max-width: 1200px;
    position: absolute;
    display: none;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    top: 77rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
}
.pitem{
    height: 300px;
    width: auto;
    border-radius: 12px;
    /* border: 2px solid red; */
    box-shadow: 6px 0px 6px black;
    cursor: pointer;
    overflow: hidden;
}
.overlay{
    width: 280px;
    height: 300px;
    border-radius: 12px;
    /* background-color: aquamarine; */
    /* background-image: linear-gradient(rgba(22, 127, 225,),rgb(68, 181, 7)); */
    background-image: linear-gradient(to bottom right, #167fe1,#44b507);
    opacity: 0.6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 300px;
    left: 0%;
}

#pitem1:hover>.overlay{
    transition: 0.5s all;
    top: 0px;
}
#pitem2:hover>.overlay{
    transition: 0.5s all;
    top: 0px;
}
#pitem3:hover>.overlay{
    transition: 0.5s all;
    top: 0px;
}
#pitem4:hover>.overlay{
    transition: 0.5s all;
    top: 0px;
}
#pitem5:hover>.overlay{
    transition: 0.5s all;
    top: 0px;
}
#pitem6:hover>.overlay{
    transition: 0.5s all;
    top: 0px;
}
#pitem7:hover>.overlay{
    transition: 0.5s all;
    top: 0px;
}
#pitem8:hover>.overlay{
    transition: 0.5s all;
    top: 0px;
}
#pitem1 , #pitem8{
    background: url("sanitizer.jpg");
    background-position: center;
    background-size: cover;
}
#pitem2,#pitem7{
    background: url("mask.jpg");
    background-position: center;
    background-size: cover;
}
#pitem3,#pitem6{
    background: url("stathescope.jpg");
    background-position: center;
    background-size: cover;
}
#pitem4,#pitem5{
    background: url("gloves.jpg");
    background-position: center;
    background-size: cover;
}






