@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
p{
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    outline: none;
}
h1{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
h2{
    font-size: 3rem;
}
.btn-a{
    /* border: 1px solid black; */
    padding: 0.3rem 1.2rem;
    border-radius: 9px;
    background-color: var(--blue);
    color: white;
}
.btn-a:hover{
    transition: 0.3s;
    background-color: var(--green);
}


:root{
    --green : #a0de40;
    --blue : #31b9f8;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color:white;
  }
::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 12px;
  }
html{
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    font-size: 100%;
}
body{
    max-width: 1400px;
    width: 100%;
    /* height: 100vh; */
    overflow-x: hidden;
    /* background-color: #f9fafa; */
/* background-image: linear-gradient(-315deg,#ffffff 0%, #97e8f7 94%); */
background-image: linear-gradient(-315deg, #fdfdfd 40%, #97e8f7 94%);


}

/* ~~~~~~~~~~~~~~~~~~~~~~~MEDIA BUTTON ~~~~~~~~~~~~~~~~~~~~~ */
.social-media{
    position: fixed;
    bottom: 3%;
    right: 3%;
    height: 50px;
    width: 50px;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 4px black;
    border-radius: 50%;
    z-index: 1500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.media{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    /* border: 2px solid red; */
    position: absolute;
}
.overlaymedia{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: 100;
        /* background-color: #33ccff; */
        background: url("images/plus.png");
        background-position: center;
        background-size: contain;
        position: absolute;
}
#media1{
    /* background-color: #ff99cc; */
    background: url("images/whatsapp.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#media2{
    /* background-color:#33ccff; */
    background: url("images/instagram.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#media3{
    /* background-color:  rgb(99, 161, 5); */
    background: url("images/youtube.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#media4{
    /* background-color: #55069f; */
    background: url("images/twitter.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~NAVBAR - SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#navbar{
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    box-shadow: 0px 0px 3px black;
    padding: 2rem 1rem;
    z-index: 1000;
    background-color: white;
}
.navbar-logo{
    margin-left: 3rem;
}
.navbar-logo img{
    width: 44%;
}
.navbar-items{
    display: flex;
    margin-right: 3rem;
}
.navbar-items ul{
    display: flex;
    gap: 2rem;
}
.navbar-items ul li a{
    padding: 0.3rem 1.2rem;
    /* border: 1px solid red; */
    border-radius: 18px;
}
.navbar-items ul li a:hover{
    transition: all linear 0.5s;
    background-color: var(--blue);
    color: white;
}
/* ++++++++++++++++++++++++++     MAIN -SECTION      ++++++++++++++++++++++++++++++++++++++++++ */

.main{

    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    /* background-color: #f0f1f1; */
    padding-bottom: 4rem;
}
.heading{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}
.content{
    max-width: 1100px;
    margin: 0 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    padding-top: 2rem;
    /* column-gap: 1rem; */
}
.box{
    display: flex;
    /* border: 1px dotted palegreen; */
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}
.box img{
    width: 50%;
    /* border: 1px dotted palegreen; */
    transform: rotate(0deg);
}
.box p{
    max-width: 400px;
    text-align: center;
    /* border: 1px dotted palegreen; */
    margin-top: 1rem;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-weight: 800; */

}


/* +++++++++++++++++++++++++++++++FOOTER - SECTION +++++++++++++++++++++++++++++ */
#footer{
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 3rem;
    background-color: rgb(245, 247, 248);
}
#footer h3{
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
}
.footer-upper-section{
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.footer-upper-section-column{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#footer-column1{
    align-items: center;
    text-align: center;
    gap: 1rem;
}
#footer-column1 img{
    width: 100px;
}
.helpful-links-points{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.topics-covered-points p a{
    text-decoration: none;
    color: black;
}
#footer-column3 div{
    gap: 0.5rem;
}
#footer-column4{
    display: flex;
    flex-direction: column;
}
#footer-column4 ul li a{
    text-decoration: none;
    color: black;
}
#footer-column4 ul{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
#footer-column3 div img{
    width: 22px;
    height: 22px;
}
.footer-lower-section{
    padding: 1rem;
    text-align: center;
}
.footer-lower-section span{
    font-weight: 900;
    background: -webkit-linear-gradient(#7fbcf9,#a96bec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

